  <form  method="post" action="/seller_login/test">
      <label for="Email">
        Email
      </label>
      <input name="Email" id="Email" type="text" placeholder="Email">
      <label for="Password">
        Password
      </label>
      <input name="Password" id="Password" type="text" placeholder="Password">
      <button  type="submit" >
        Log In
      </button>
  </form>