<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide.min.css">


</head>

<body class="">


{{>header}}



  <div class="box-border p-4  bg-slate-200">
    <div style="display: flex; justify-content: center;">
      <div style="display: flex; justify-content: center;" class="rounded-md bg-white py-6 sm:py-8 lg:py-12 w-9/12">


{{>cart/checkoutform}}



      </div>
    </div>
  </div>














  </div>



{{>footer}}
</body>

</html>