<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body >
{{>header}}
  <div class="box-border p-4  bg-slate-200">
    <div class="bg-white rounded-md py-6 sm:py-8 lg:py-12 shadow-md">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <!-- text - start -->
        <div class="mb-10 md:mb-16">
          <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Products</h2>

          <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
            Find Your Perfect Product - Shop our extensive collection of items and get exactly what you're looking for
            at our ecommerce website!
          </p>
        </div>
        <!-- text - end -->

        No Product Found


        </div>
      </div>


    </div>
  </div>

  {{>footer}}
</body>

</html>