<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide.min.css">


</head>

<body class="">


{{>header}}



  <div class="box-border p-4  bg-slate-200">
    <div style="display: flex; justify-content: center;">
      <div class="rounded-md bg-white py-6 sm:py-8 lg:py-12 w-9/12">
      

      
            <div class="mb-6 sm:mb-10 lg:mb-16">
              <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Thank You</h2>
              <h4 class="mb-4 text-center   text-gray-800 md:mb-6 ">For shopping with us</h4>
              <h4 class="mb-4 text-center   text-gray-800 md:mb-6 ">Your order has been placed..</h4>
            </div>

            <div style="display: flex; justify-content: center;">
                    <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Return To Home
                    </a>
            </div>

      </div>


      </div>
    </div>
  </div>














  </div>



{{>footer}}
</body>

</html>